.contact-container {
  max-width: 600px;
  margin: 60px auto 0;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  background-color: #ffffff; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.headding {
  font-weight: bold;
  color: #333;
  font-size: 27px; 
  align-items: center; 
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.conBut,
.react-datepicker-wrapper {
  width: 100%;
  padding-bottom: 10%;
  border-radius: 6px;
  box-sizing: border-box;
  
  font-size: 16px;
}

.conBut,
.conBut2 {
  background-color: #3498db;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border: none;
  padding: 12px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.conBut:hover,
.conBut2:hover {
  background-color: #217dbb;
}


.conBut:focus,
.react-datepicker-wrapper:focus {
  outline: none;
  border-color: #555;
  
}

.conBut2 {
  background-color: #27ae60;
  font-weight: bold;
  
}

.conBut2:hover {
  background-color: #219a52;
}

p{
  font-weight: bold;
}

.btn-primary {
     align-items: center;
     margin-top: 5%;
  } 
  
