.contact-container {
  max-width: 600px;
  margin: 60px auto 0;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  background-color: #f0f0f0; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.headding {
  font-weight: bold;
  color: #333;
  font-size: 24px; 
  text-align: center; 
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #555;
  margin-bottom: 8px;
  font-size: 16px; 
}

input,
textarea,
.conBut,
.react-datepicker-wrapper {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 2px solid #3498db;
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 16px;
}

.conBut,
.conBut2 {
  background-color: #3498db;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border: none;
  padding: 12px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.conBut:hover,
.conBut2:hover {
  background-color: #217dbb;
}

input:focus,
textarea:focus,
.conBut:focus,
.react-datepicker-wrapper:focus {
  outline: none;
  border-color: #555;
}

.conBut2 {
  background-color: #27ae60;
  font-weight: bold;
  margin-top: 15px;
}

.conBut2:hover {
  background-color: #219a52;
}
