.square-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .square-top-cart {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .square-top-cart .cart {
    max-width: 60%;
    margin: 0 auto; 
  }
  
  .square-bottom-carts .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
    padding: 0% 10% 0 10%;
  }
  
  .square-bottom-carts .col {
    flex: 1;
  }
  
  .cart {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .cart img {
    max-width: 100%;
    max-height: 15rem;
    border-radius: 5%;
    margin-bottom: 7px;
  }
  
  .cart p {
    font-size: 1rem;
  }
  .jumbotron{
    padding-top:5%
  }
  .text-cart{
    margin-bottom: 10%;
  }

  h1{
    font-weight:bold;
    text-align: center;
  }
