/* home.css */

.jumbotron {
  background-color: #2c3e50; /* Dark Blue */
  color: #ecf0f1; /* Light Gray */
  padding: 3rem;
  text-align: center;
}

.jumbotron h1 {
  font-size: 3rem;
  color:white;
}

.jumbotron p {
  font-size: 1.5rem;
  color:aquamarine;
}

.jumbotron a.btn-primary {

  color: #fff; 
  margin-top: 1rem;
}

.my-carousel {
  margin-top: 2rem;
}





