/* Hairstyles.css */

.hairstyles-container {
    text-align: center;
    padding: 2% 20% 2% 20%;
    padding: 2% 20% 2% 20%;
}

.hairstyles-title {
    font-size: 24px;
    margin-top: 40px;
    color: #010102;
}

.hairstyles-grid,
.favorites-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display 3 items per row */
    gap: 20px; /* Adjust the gap for spacing between cards */
    margin-top: 20px;
    
}

.hairstyle-card,
.favorite-card {
    border: 1px solid #000000; 
    border-radius: 9%;
    overflow: hidden;
    padding:5%;
    box-shadow: 4px 4px 4px 0 rgba(192, 192, 192, 0.5);
}

.hairstyle-image,
.favorite-image {
    border-radius: 9%;
    width: 100%;
     max-height: 16rem; 
    
}

.favorites-section{
    margin-top: 20px;
}
.hairstyle-name,
.favorite-name {
    padding-top: 10px;
    font-size: 18px;
}

button {
    background-color: #3498db; 
    color: white;
    padding: 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top:0 !important;

    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9; 
}

.h1{
    padding-top: 3%;
}
