.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu a {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
}

.menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
}

.menu a:hover::after {
    width: 100%;
    left: 0;
    background-color: #00b4d8;
    /* Change the color as needed */
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.3rem;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
    }

    .menu.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}